*
{
    margin: 0;
    padding: 0;
    font-family: 'nunito';
}
.header{
  min-height: 20vh;
  width: 100%;
  background-position: center;
   outline: none;
  border: none;
  text-decoration: none;
}
.header .name{
    float: left;
  margin: 15px;
  margin-right: 30px;
  font-size: 20x;
  letter-spacing: 2px;
}
.header .desc{
    text-align: left;
    color: palevioletred;
    padding: 15px;
}
.header.ref{
    color: black;
    text-align: left;
    padding: 2p;
  }

  
  
  
  .act{
    text-align: right;
    margin-right :15px;
    float: right;
    display: inline;
    display: flex;
    color: silver;
    padding: 15px;
    text-decoration: none;
}
.act.enroll{
    background-color: #EC4067;
    margin: 2px;

}
h5{
  padding: 0px 30px;
  color: black;
}

  h1{
    color: palevioletred;
    padding: 30px;
    min-height: 5vh;
    position:absolute;
  }
  
    
  .dir .right{
    float: right;
    height: 500px;
    width: 400px;
     padding-left: 300px;
      margin: 0px 0px 15px 20px;
  }
  .par {
    color: silver;
   text-align:left;
   display:inline-block;
    padding-left: 0px 30px;
    padding-top: 20px;
    margin-left:40px;
    clear:left;
    
  }
    

  h2{
    align:right;
    color: palevioletred;
    padding: 40px 30px
    display:flex;
    margin-left:100px;

  }
  .para{
    color: silver;
   align:right;
   display:inline-block;
    padding: 40px 30px;
    margin-left:100px;
    clear: left;
  }
    .dir1{
      width: 300px;
      display: flex;
      align-items: center;
    }
   
    
  .dir1 img{
    float: right;
    height: 300px;
    width: 350px;
    align:right;
    margin-right: 10px;
    display: flex;
    padding: 60px;
    

  }
  h3{
    align:right;
    color: palevioletred;
    padding: 40px 30px
    display:flex;
    margin-left:100px;

  }
  .para{
    color: silver;
   align:right;
   display:inline-block;
    padding: 40px 30px;
    margin-left:100px;
    clear: left;
  }
    .dir1{
      width: 300px;
      display: flex;
      align-items: center;
    }
   
    
  .dir1 img{
    float: right;
    height: 300px;
    width: 350px;
    align:right;
    margin-right: 10px;
    display: flex;
    padding: 60px;
    

  }
  
  h4{
    color: palevioletred;
    padding: 30px;
  }
  .par{
    color: silver;
   align:right;
   display:inline-block;
    padding: 0px 30px;
    margin-left:40px;
    clear: right;
  }
    .dir{
      width: 300px;
      display: flex;
      align-items: center;
    }
   
    
  .dir img{
    float: right;
    height: 500px;
    width: 400px;
    align:right;
    margin-right: 10px;
    display: flex;
    

  }
  h6{
    color: palevioletred;
    padding: 100px;
  }

 .now{
   background-color: #EC4067;
  color:black;
  border: solid;
  margin-inline-start: 50px;
 }

 .exp{
   color: palevioletred;
   border: solid;

   margin-inline-start: 10px;
 }
 .ries{
   color: black;
 }
 .day{
   color: black;
   text-align: center;
   position: relative;
   padding.day{
    padding-left:50px;
    padding-bottom:10px;
 }
 .para{
  color: black;
  text-align: center;
  position: relative;
  padding-left:50px;
  padding-bottom:10px;
}

  