*
{
    margin: 0;
    padding: 0;
    font-family: 'nunito';
}
.header{
  min-height: 10vh;
  width: 100%;
  background-position: center;
   outline: none;
  border: none;
  text-decoration: none;
}
.header .name{
    float: left;
  margin: 15px;
  margin-right: 30px;
  font-size: 20x;
  letter-spacing: 2px;
}
.header .desc{
    text-align: left;
    color: palevioletred;
    padding: 15px;
}
.header.ref{
    color: black;
    text-align: left;
    padding: 2px;
  }
 
 .navs ul li{
list-style: none;
float: right;
text-align: center;
border-right: 2px;

 }
 li a{
   text-decoration: none;
   display: block;

 }
  
h5{
  padding: 70px;
  color: black;
  position: relative;
  top: 180px;
}

  h1{
    color: palevioletred;
    padding: 60px;
    position:relative;
    top: 80px;
    
  }  
  .img img{
    float:right;
    position: relative;
    right : 80px;
    height:300px;
    width: 250px;
   margin-bottom:  20px;
   margin-right: 450px;
  
  }
  .par {
    color: silver;
   text-align:left;
   display: inline-block;
    padding-left: 0px 30px;
    clear:right;
    margin:100px;
    
    
  } 

  .now{
   background-color: #EC4067;
  color:black;
  border: 2px solid #EC4067;
  margin-inline-start: 50px;
  margin-left: 100px;
  position: relative;
  bottom: 50px;
 }

 .exp{
   color: palevioletred;
   border: 2px solid #EC4067;
    margin-inline-start: 10px;
   margin-left: 20px;
   position: relative;
   bottom: 50px;
 }
 .ries{
   color: black;
   padding: 80px;
 }
 .day{
   color: black;
   text-align:center;
   position:relative;
   bottom: 50px;
    padding-left:60px;
    padding-bottom:1px;
    margin-right: 50px;

 }
 .para{
  color: black;
  text-align:center;
  float:right ;
  position: relative;
  bottom:200px;
  padding-left:100px;
  padding-bottom:10px;
margin-right: 500px;
margin-top:200px;
}
.dir img{
  float:left;
  height: 300px;
  width: 400px;
  padding: 50px;
  position: relative;
  bottom: 450px;
  
}


.go{
  float: right;
 background-color: #EC4067;
 border: 2px solid #EC4067;
 position: relative;
bottom:180px;
margin-right:700px;

}
.board{
  color:black;
  position: relative;
  top:190px;
  padding:100px;
  margin-right:20px;
}
.parag{
  color:black;
  text-align:left;
  position: relative;
  margin-top:200px ;
  right:400px;
  margin-left: 200px;
  bottom: 250px;
  
}
.image3{
  float:right;
  position: relative;
  right : 80px;
  height:300px;
  width: 250px;
 margin-bottom:  20px;
 margin-right: 500px;

}
.read{
  float:left;
 background-color: #EC4067;
 border: 2px solid #EC4067;
 position: relative;
bottom:180px;
margin-right:700px;
left:100px;
}

h4{
  color: palevioletred;
  padding: 100px;
  position:relative;
  bottom: 100px;
  text-align:center;
  float:center;
  left: -100px;
  
  
}  
.em img{
  float:left;
  height: 250px;
  width: 300px;
  padding: 80px;
  position: relative;
  bottom: 450px;
}

  
  
.parag1{
  color: black;
  text-align:center;
  float:center ;
  position: relative;
  bottom: 180px;
  left: -120px;
  margin-left: 150px;
  
} 
.mentors{
  color: black;
  position: relative;
  top:-200px;
  left:-450px;
  
}
.dir2 img{
  height: 300px;
  width: 250px;
  position: relative;
  top:-260px ;
  padding: 60px;
  left: -500px;
}
.web1{
  color: palevioletred;
  position: relative;
  top: -300px;
  padding:20px ;
}
.sit{
  color: black;
  font-size: small;
  position: relative;
  top: -340px;
  padding: 20px;
}
.ask{
  background-color: #EC4067;
  border: 2px solid #EC4067;
  position: relative;
  top: -340px;
  padding: 20px;
}
.image6 img{
  float:right;
  align-items: center;
  position: relative;
  top:-800px;
  left: -700px;
  width:250px;
  height: 300px;
}
.webb{
  color: palevioletred;
  position: relative;
  top: -450px;
  left: 330px;
}

.arn{
  text-align: center;
  font-size: small;
  position: relative;
  top: -450px;
  left: -80px;
}
.now1{
  float: center;
  background-color: #EC4067;
  border: 2px solid #EC4067;
  position: relative;
  top: -430px;
  left: 350px;
}
.image7 img{
  float:right;
  align-items: center;
  position: relative;
  top:-880px;
  left: -150px;
  width:250px;
  height: 300px;
}
.web3{
  color: palevioletred;
  position: relative;
  left: 400px;
  top: -530px;
  right:50px;
  text-align: center;
  
}
.arn1{
  text-align: center;
  font-size: small;
  position: relative;
  top: -530px;
  left: 400px;
    
    
}
.now2{
  float: center;
  background-color: #EC4067;
  border: 2px solid #EC4067;
  position: relative;
  top: -500px;
  left: 700px;
}
.image8 img{
  float:right;

  position: relative;
  top:-980px;
  left: 400px;
  width:250px;
  height: 300px;
}
.web4{
  color: palevioletred;
  position: relative;
  left: 650px;
  top: -630px;
  text-align: right;
}
.arn2{
  text-align: right;
  font-size: small;
  position: relative;
  top: -630px;
  left: 650px;
}
.now3{
    float: center;
    background-color: #EC4067;
    border: 2px solid #EC4067;
    position: relative;
    top: -590px;
    left: 990px;
}
.proj{
  color: black;
  padding:60px;
  position: relative;
  top:-350px;
}
.bike{
  color: black;
  padding:60px;
  position:relative;
  top:-400px;
  text-align: left;
}
.bike1{
color: #EC4067;
position: relative;
top: -500px;
}
.bike2{
  font-size: small;
  position: relative;
  top: -600px;
  padding: 60px;
}
.image9 img{
  float:right;
  align-items: center;

  position: relative;
  top: -850px;
  left: -550px;

  width:350px;
  height: 250px;
}
.bike3{
padding: 60px;
  position: relative;
  top: -690px;
}
.not{
  color: #EC4067;
  padding: 60px;
  position: relative;
  top: -700px;
}
.mor3{
  color: black;
  font-size: medium;
  position: relative;
  top: -800px;
  padding: 60px;
}
.mor3 .or{
  color: #EC4067;
  
}
.mor3 .con{
  color: #EC4067;
  font-size: small;
}
.mor3 .us{
  color: #EC4067;
  font-size: small;
}
